@media only all and (min-width:0){
  main{
    section#topBanner{
      width: 100%;
      height: 80vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-clip: border-box;
      div.overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display:flex;
        align-items: center;
        justify-content: center;
        h1{
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-weight:300;
          font-size: 2rem;
        }
      }
    }
    section#mainContent {
      width: 100%;
      background: black;
      background-repeat:no-repeat;
      background-position: center;
      background-size:cover;
      // border: 5px solid red;
      div.overlay{
        z-index: 1;
        width: 100%;
        flex-direction:column;
        justify-content: flex-start;
        align-items:start;
        height: auto;
        background-color: rgba(0,0,0,0.8);
        overflow-x:auto;
        padding: 5rem 1rem;
        div#contentHolder{
          display:flex;
          justify-content: flex-start;
          width:fit-content;
            article{
              position: relative;
              margin: 0 1rem;
              overflow:hidden;
              height: 30rem;
              width: 20rem;
              border-radius: 10px;
              display:flex;
              justify-content:center;
              align-items: center;
              transition: all 0.25s ease-in-out;
              div.overlay{
                opacity:0;
                position: absolute;
                top: 0;
                display: flex;
                flex-direction:column;
                align-items: center;
                justify-content:center;
                height: 100%;
                overflow:hidden;
                transition: all 0.25s ease-in-out;
                font-family: 'Roboto', sans-serif;
                h3{
                  text-align:center;
                  font-weight:200;
                  margin-bottom: 1.5rem;
                  padding: 0 1rem;
                  color:white;
                  
                }
                button{
                  background:transparent;
                  color:white;
                  border: 1px solid white;
                  border-radius: 10px;
                  padding: 0.5rem;
                  margin-bottom: 1.75rem;
                  font-weight:100;
                  transition: all 0.25s ease-in-out;
                }
                button:hover,
                button:active {
                  background-color:rgba(255,255,255,0.85);
                  color:black;
                  border-color:transparent;
                }
              }
              img{
                box-sizing:content-box;
                height: 100%;
                width: 200%;
                // opacity: 0.5;
              }
            }
            article:hover,
            article:active{
              box-shadow: 0 0 25px 5px white;
              div.overlay{
                opacity:1;
              }
            }
        }
      }
      div.overlay::-webkit-scrollbar{
        display:none;
      }
      img {
        position:relative;
        width: 100%;
      }
    }
  }
}
@media only all and (min-width: 786px){}
@media only all and (min-width: 992px){}
@media only all and (min-width: 1200px){}