@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(100, 100, 100);
  color: white;
}

@media only all and (min-width: 0) {
  main section#topBanner {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
  }
  main section#topBanner div.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main section#topBanner div.overlay div#bio {
    margin: 15vh 5vw 5vh 5vw;
    padding: 5vw;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
  }
  main section#topBanner div.overlay div#bio h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0 0 0.5rem 0;
  }
  main section#topBanner div.overlay figure {
    width: 70vw;
    margin: 0 0 5vw 0;
    border-radius: 10px;
    overflow: hidden;
  }
  main section#topBanner div.overlay figure img {
    width: 100%;
  }
  main section#mainContent {
    width: 100%;
    background-image: url("../../../../assets/imgs/Pages/deals-secondary.jpg");
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
  }
  main section#mainContent div.overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    align-items: start;
    height: auto;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-x: auto;
    padding: 5rem 1rem;
  }
  main section#mainContent div.overlay div#contentHolder {
    width: 85vw;
    margin: 0 auto;
  }
  main section#mainContent div.overlay div#contentHolder div#why {
    padding: 2.5vw;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
  }
  main section#mainContent div.overlay div#contentHolder div#why h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
  }
}
@media only all and (min-width: 786px) {
  main section#topBanner div.overlay {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10rem 0;
  }
  main section#topBanner div.overlay div#bio {
    margin: 0;
    padding: 1rem 2.5rem;
    width: 50vw;
  }
  main section#topBanner div.overlay figure {
    width: 30vw;
    margin: 0;
  }
}
@media only all and (min-width: 992px) {
  main section#mainContent div.overlay div#contentHolder {
    width: 60vw;
  }
}
@media only all and (min-width: 1200px) {
  main section#topBanner div.overlay div#bio {
    width: 60vw;
  }
  main section#topBanner div.overlay div#bio p {
    font-size: 1.5rem;
  }
  main section#topBanner div.overlay figure {
    width: 25vw;
  }
  main section#mainContent div.overlay div#contentHolder div#why p {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=about.css.map */